body{
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
  height: 20em;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 3em;
  margin-top: 0;
}


.header h1 {
  padding: 6rem 0 0 6rem;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0;
}


.header h2 {

  font-size: 1.5rem;
  padding: 1rem 0 0 6rem;
  font-weight: 400;
  margin-top: 0;
}
/*
.header h1 span{

  font-weight: bold;


}
*/

.header .main-text{
  padding: 3em;
  font-size: 2em;
  font-weight: 400;
}

.container_img img {

  max-width: 50%;
  border: solid 2px green;

}

.container_text p {
  font-size: 1rem;
  text-align: right;
  padding: 0 5rem 4rem 0;
  margin-right: 4rem;
  margin-bottom: auto;
 
}

.main {
  width: 80%;
  margin: auto;
}
/*
.main td{
  width: 50%;
  padding: 2em;
}

/*
.main img{
  max-width: 50%;
  border: solid 1px #ddd;
}
*/

.footer{
  height: 3em;
  line-height: 3em;
  background-color: rgb(185, 112, 41);
  color: white;
  text-align: center;
  font-weight: 900;
}